{{#each items.InjuryReports}}
<div class="table-responsive">
  <div class="injury {{helperLowerCase Team.Name}}"></div>
  <h2 class="injuries-team">{{Team.Name}}</h2>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Player</th>
            <th>Date</th>
            <th>Status</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {{#each Injuries}}
      <tr>
          <td>{{Player.FirstName}} {{Player.LastName}}</td>
          <td>{{ReportedDate}}</td>
          <td>{{InjuryDetail.Status}}</td>
          <td>{{InjuryDetail.Description}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
{{/each}}