    {{#each .}}
      <tr>
       <td><strong>{{add @index 1 0}}</strong></td>
       <td class="logo-padding" data-toggle="tooltip" data-placement="top" title="Team"><div class="small-logo logo-small {{helperLowerCase team.name}}"></div></td>
        <td class="col-md-3" data-toggle="tooltip" data-placement="top" title="Team">{{team.name}}</td>
        <td class="col-md-1" data-toggle="tooltip" data-placement="top" title="Games played">{{gamesPlayed}}</td>
        <td class="col-md-2" data-toggle="tooltip" data-placement="top" title="Wins - Losses - OT Losses">{{leagueRecord.wins}}-{{leagueRecord.losses}}-{{leagueRecord.ot}}</td>
        <td class="col-md-1" data-toggle="tooltip" data-placement="top" title="Points">{{points}}</td>
        <td class="col-md-1" data-toggle="tooltip" data-placement="top" title="Point percentage">{{pointPercentage}}</td>
        <td class="col-md-2" data-toggle="tooltip" data-placement="top" title="Goals for - Goals against">{{goalsScored}}-{{goalsAgainst}}</td>
        <td class="col-md-2" data-toggle="tooltip" data-placement="top" title="Current streak">{{streak.streakCode}}</td>
      </tr>
      {{/each}}