<div class="table-responsive">
        <h2>Stats</h2>
         <div class="dropdown drop">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Season
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right drop-btn" aria-labelledby="dropdownMenu1">
            <li><a href="#">1903</a></li>
           <li role="separator" class="divider"></li>
            <li><a href="#">2007</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">dsadd link</a></li>
          </ul>
        </div>
        <div class="dropdown drop">
          <button class="btn btn-default sort-by dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Sort by
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right drop-btn" aria-labelledby="dropdownMenu1">
            <li><a href="#">hej</a></li>
           <li role="separator" class="divider"></li>
            <li><a href="#">och</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">hå link</a></li>
          </ul>
        </div>
    <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th data-toggle="tooltip" data-placement="top" title="Team">Team</th>
        <th data-toggle="tooltip" data-placement="top" title="Games played">GP</th>
        <th data-toggle="tooltip" data-placement="top" title="Wins - Losses - OT Losses">Record</th>
        <th data-toggle="tooltip" data-placement="top" title="Points">PTS</th>
        <th data-toggle="tooltip" data-placement="top" title="Point percentage">PTS%</th>
        <th data-toggle="tooltip" data-placement="top" title="Goals for - Goals against">GF-GA</th>
        <th data-toggle="tooltip" data-placement="top" title="just the tip">Streak</th>
      </tr>
    </thead>
    <tbody>
     {{#each .}}
      <tr>
        <td class="small-logo {{helperLowerCase team.name}}"></td>
        <td class="">{{team.name}}</td>
        <td>{{gamesPlayed}}</td>
        <td>{{leagueRecord.wins}}-{{leagueRecord.losses}}-{{leagueRecord.ot}}</td>
        <td>{{points}}</td>
        <td>{{pointPercentage}}</td>
        <td>{{goalsScored}}-{{goalsAgainst}}</td>
        <td>{{streak.streakCode}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>