<div class="table-responsive">
        <h2>Standings</h2>
        <div class="dropdown drop">
          <button class="btn btn-default sort-by dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Sort by
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right drop-btn" aria-labelledby="dropdownMenu1">
            <li><a href="#">Points</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Points percentage</a></li>
          </ul>
        </div>
    <table class="table table-striped">
    <thead>
      <tr>
        <th class="th-placeholder"></th>
        <th data-toggle="tooltip" data-placement="top" title="Team">Team</th>
        <th data-toggle="tooltip" data-placement="top" title="Games played">GP</th>
        <th data-toggle="tooltip" data-placement="top" title="Wins - Losses - OT Losses">Record</th>
        <th data-toggle="tooltip" data-placement="top" title="Points">PTS</th>
        <th data-toggle="tooltip" data-placement="top" title="Point percentage">PTS%</th>
        <th data-toggle="tooltip" data-placement="top" title="Goals for - Goals against">GF-GA</th>
        <th data-toggle="tooltip" data-placement="top" title="Current streak">Streak</th>
      </tr>
    </thead>
    <tbody>
     {{#each .}}
      <tr>
        <td  data-toggle="tooltip" data-placement="top" title="{{team.name}}" class="small-logo {{helperLowerCase team.name}}"></td>
        <td data-toggle="tooltip" data-placement="top" title="Team">{{team.name}}</td>
        <td data-toggle="tooltip" data-placement="top" title="Games played">{{gamesPlayed}}</td>
        <td data-toggle="tooltip" data-placement="top" title="Wins - Losses - OT Losses">{{leagueRecord.wins}}-{{leagueRecord.losses}}-{{leagueRecord.ot}}</td>
        <td data-toggle="tooltip" data-placement="top" title="Points">{{points}}</td>
        <td data-toggle="tooltip" data-placement="top" title="Point percentage">{{pointPercentage}}</td>
        <td data-toggle="tooltip" data-placement="top" title="Goals for - Goals against">{{goalsScored}}-{{goalsAgainst}}</td>
        <td data-toggle="tooltip" data-placement="top" title="Current streak">{{streak.streakCode}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>