<div class="table-responsive">
        <h2>Stats</h2>
         <div class="dropdown drop">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Season
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right drop-btn" aria-labelledby="dropdownMenu1">
            <li><a href="#">1903</a></li>
           <li role="separator" class="divider"></li>
            <li><a href="#">2007</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">dsadd link</a></li>
          </ul>
        </div>
        <div class="dropdown drop">
          <button class="btn btn-default sort-by dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Sort by
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right drop-btn" aria-labelledby="dropdownMenu1">
            <li><a href="#">hej</a></li>
           <li role="separator" class="divider"></li>
            <li><a href="#">och</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">hå link</a></li>
          </ul>
        </div>
    <table class="table table-striped">
    <thead>
      <tr>
        <th data-toggle="tooltip" data-placement="top" title="just the tip">Player</th>
        <th data-toggle="tooltip" data-placement="top" title="just the tip">Team</th>
        <th data-toggle="tooltip" data-placement="top" title="just the tip">Pos</th>
        <th data-toggle="tooltip" data-placement="top" title="just the tip">Gp</th>
        <th data-toggle="tooltip" data-placement="top" title="just the tip">G</th>
        <th data-toggle="tooltip" data-placement="top" title="just the tip">A</th>
        <th data-toggle="tooltip" data-placement="top" title="just the tip">P</th>
        <th data-toggle="tooltip" data-placement="top" title="just the tip">penaltiesPerSixty</th>
        <th data-toggle="tooltip" data-placement="top" title="just the tip">pointsPerSixty</th>
        <th data-toggle="tooltip" data-placement="top" title="just the tip">FsPoints</th>
        <th data-toggle="tooltip" data-placement="top" title="just the tip">X</th>
      </tr>
    </thead>
    <tbody>
     {{#each items.data}}
      <tr>
       <td>{{playerName}}</td>
        <td class="small-logo {{helperLowerCase playerTeamsPlayedFor}}"></td>
        <td>{{playerPositionCode}}</td>
        <td>{{gamesPlayed}}</td>
        <td>{{goals}}</td>
        <td>{{assists}}</td>
        <td>{{points}}</td>
        <td>{{penaltiesPerSixty}}</td>
        <td>{{pointsPerSixty}}</td>
        <td>{{fsPoints}}</td>
        <td>dasdadss</td>
      </tr>
      {{/each}}
    </tbody>
  </table>