<div class="table-responsive">
        <h2>Stats</h2>
         <div class="dropdown drop">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Season
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right drop-btn" aria-labelledby="dropdownMenu1">
            <li><a href="#">1903</a></li>
           <li role="separator" class="divider"></li>
            <li><a href="#">2007</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">dsadd link</a></li>
          </ul>
        </div>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Player</th>
        <th>Team</th>
        <th>Pos</th>
        <th>Gp</th>
        <th>G</th>
        <th>A</th>
        <th>P</th>
        <th>penaltiesPerSixty</th>
        <th>pointsPerSixty</th>
        <th>FsPoints</th>
        <th>X</th>
      </tr>
    </thead>
    <tbody>
     {{#each items.data}}
      <tr>
       <td>{{playerName}}</td>
        <td>{{playerTeamsPlayedFor}}</td>
        <td>{{playerPositionCode}}</td>
        <td>{{gamesPlayed}}</td>
        <td>{{goals}}</td>
        <td>{{assists}}</td>
        <td>{{points}}</td>
        <td>{{penaltiesPerSixty}}</td>
        <td>{{pointsPerSixty}}</td>
        <td>{{fsPoints}}</td>
        <td>dasdadss</td>
      </tr>
      {{/each}}
    </tbody>
  </table>