<div class="col-md-6 col-xs-6">
  <div class="panel panel-default text-center">
    <div class="panel-heading">      
      <h3 class="goalie-name">{{title}}</h3>
      <div class="{{helperLowerCase status}} goalie-status" role="alert">{{status}}</div>
    </div>
    <div class="panel-body">
        <div class="goalies">
            <div class="goalie-team logo-large {{helperLowerCase team}}"></div>
            <img class="goalie" src="{{img}}" />
        </div>
  </div>
  </div>      
</div> 