  {{#each .}}
  <div class="container text-center team-container">
      <div class="row">
          <h3 class="matchup">{{away.team}} at {{home.team}}</h3>
      </div>
  </div>

<div class="container bg-grey">
  <div class="row slideanim">
    <div class="col-sm-6 col-xs-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">      
          <h3 class="goalie-name">{{away.title}}</h3>
          <div class="{{helperLowerCase away.status}}" role="alert">{{away.status}}</div>
        </div>
        <div class="panel-body">
            <div class="goalies">
                <div class="goalie-team {{helperLowerCase away.team}}"></div>
                <img class="goalie" src="{{away.img}}" />
            </div>
      </div>
      </div>      
    </div>     
     <div class="col-sm-6 col-xs-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3 class="goalie-name">{{home.title}}</h3>
          <div class="{{helperLowerCase home.status}}" role="alert">{{home.status}}</div>
        </div>
        <div class="panel-body">
            <div class="goalies">
                <div class="goalie-team {{helperLowerCase home.team}}"></div>
                <img class="goalie" src="{{home.img}}" />
            </div>
        </div>
      </div>      
    </div>
  </div>   
</div>
{{/each}}